<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <style>
  {{{css}}}
  </style>
  
  </head>
  <body style="display: flex; flex-direction: column;">


   <div class="resume8 resume8-block layout">
      <div class="resume8-flex layout1">
        <div class="resume8-flex-item">
          <div class="resume8-cover-block6 layout">
            <div class="resume8-flex1 layout">
              <div style="--src:url(/assets/04fed84e11cddae592973b03d1aae6bc.png)" class="resume8-block1 layout">
                <div class="resume8-box1 layout"></div>
              </div>
              <div class="resume8-flex2 layout">
                <h3 class="resume8-subtitle layout">Stan Smith</h3>
                <div class="resume8-small-text-body layout">Web-Designer</div>
              </div>
              <div class="resume8-flex3 layout">
                <div class="resume8-text-body1 layout">Contacts</div>
                <div class="resume8-small-paragraph-body1-box layout">
                  <pre class="resume8-small-paragraph-body1">
2207 Beach Avenue, Los Angeles
stan@smithfamily.com
(914) 479-6342
mysite.portfolio</pre
                  >
                </div>
              </div>
              <div class="resume8-flex4 layout">
                <div class="resume8-text-body1 layout">Skills</div>
                <div class="resume8-flex5 layout">
                  <div class="resume8-flex6 layout">
                    <div class="resume8-small-paragraph-body11 layout">Figma</div>
                    <div class="resume8-cover-block layout"><div class="resume8-box3 layout"></div></div>
                  </div>
                  <div class="resume8-flex7 layout">
                    <div class="resume8-small-paragraph-body12 layout">Sketch</div>
                    <div class="resume8-cover-block1 layout"><div class="resume8-box4 layout"></div></div>
                  </div>
                  <div class="resume8-flex8 layout">
                    <div class="resume8-small-paragraph-body13 layout">Photoshop</div>
                    <div class="resume8-cover-block2 layout"><div class="resume8-box5 layout"></div></div>
                  </div>
                  <div class="resume8-flex9 layout">
                    <div class="resume8-small-paragraph-body14 layout">Illustrator</div>
                    <div class="resume8-cover-block3 layout"><div class="resume8-box6 layout"></div></div>
                  </div>
                  <div class="resume8-flex10 layout">
                    <div class="resume8-small-paragraph-body15 layout">After Effects</div>
                    <div class="resume8-cover-block2 layout"><div class="resume8-box5 layout"></div></div>
                  </div>
                  <div class="resume8-flex11 layout">
                    <div class="resume8-small-paragraph-body16 layout">Premiere Pro</div>
                    <div class="resume8-cover-block5 layout"><div class="resume8-box7 layout"></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume8-flex-spacer"></div>
        <div class="resume8-flex-item1">
          <div class="resume8-flex12 layout">
            <div class="resume8-flex13 layout">
              <div class="resume8-text-body layout">Profile</div>
              <div class="resume8-small-paragraph-body layout">
                Graphic designer with +8 years of experience in branding and print design. Skilled at Adobe Creative
                Suite (Photoshop, Illustrator, InDesign) as well as sketching and hand drawing. Supervised 23 print
                design projects that resulted in an increase of 32% in savings.
              </div>
            </div>
            <div class="resume8-flex14 layout">
              <div class="resume8-text-body layout">Education</div>
              <div class="resume8-flex15 layout">
                <div class="resume8-flex16 layout">
                  <div class="resume8-flex layout">
                    <div class="resume8-small-text-body1 layout">New York University</div>
                    <div class="resume8-flex-spacer1"></div>
                    <div class="resume8-small-text-body2 layout">2007 – 2012</div>
                  </div>
                  <div class="resume8-small-paragraph-body layout1">Master of Graphic Design, GPA: 3.8/4.0</div>
                </div>
                <div class="resume8-flex17 layout">
                  <div class="resume8-flex layout">
                    <div class="resume8-small-text-body1 layout">Los Angeles University</div>
                    <div class="resume8-flex-spacer2"></div>
                    <div class="resume8-small-text-body2 layout">2010 – 2012</div>
                  </div>
                  <div class="resume8-small-paragraph-body layout2">
                    Bachelor of Fine Arts in Graphic Design, GPA: 3.4/4.0
                  </div>
                </div>
              </div>
            </div>
            <div class="resume8-flex18 layout">
              <div class="resume8-text-body layout">Employment</div>
              <div class="resume8-flex19 layout">
                <div class="resume8-flex20 layout">
                  <div class="resume8-flex layout">
                    <div class="resume8-small-text-body1 layout">UI Designer at Market Studios</div>
                    <div class="resume8-flex-spacer3"></div>
                    <div class="resume8-small-text-body2 layout">2012 – 2015</div>
                  </div>
                  <div class="resume8-small-paragraph-body layout3">
                    Successfully translated subject matter into concrete design for newsletters, promotional materials
                    and sales collateral. Created design theme and graphics for marketing and sales presentations,
                    training videos and corporate websites.
                  </div>
                </div>
                <div class="resume8-flex21 layout">
                  <div class="resume8-flex layout">
                    <div class="resume8-small-text-body1 layout">Graphic Designer at FireWeb</div>
                    <div class="resume8-flex-spacer4"></div>
                    <div class="resume8-small-text-body2 layout">2015 – 2017</div>
                  </div>
                  <div class="resume8-small-paragraph-body layout4">
                    Developed numerous marketing programs (logos, brochures, newsletters, infographics, presentations,
                    and advertisements) and guaranteed that they exceeded the expectations of our clients.
                  </div>
                </div>
                <div class="resume8-flex22 layout">
                  <div class="resume8-flex layout">
                    <div class="resume8-small-text-body1 layout">Graphic Designer at 5Tech</div>
                    <div class="resume8-flex-spacer5"></div>
                    <div class="resume8-small-text-body2 layout">2017 – 2019</div>
                  </div>
                  <div class="resume8-small-paragraph-body layout5">
                    Created new design themes for marketing and collateral materials. Collaborated with creative team to
                    design and produce computer-generated artwork for marketing and promotional materials.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>

