@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
    }

    .xs\:hide {
        display: none;
    }
}

.headroom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;

    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

/* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}


/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.resume8-block {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.resume8-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 842px;
}
.resume8-flex {
  display: flex;
}
.resume8-flex.layout1 {
  position: relative;
  flex-grow: 1;
  margin: 0px 40px 0px 0px;
}
.resume8-flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 240px;
}
.resume8-cover-block6 {
  display: flex;
  flex-direction: column;
  background-color: #212121;
}
.resume8-cover-block6.layout {
  position: relative;
  flex-grow: 1;
}
.resume8-flex1 {
  display: flex;
  flex-direction: column;
}
.resume8-flex1.layout {
  position: relative;
  flex-grow: 1;
  margin: 40px 30px 294px 40px;
}
.resume8-block1 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  border-radius: 30px 30px 30px 30px;
}
.resume8-block1.layout {
  position: relative;
  width: 60px;
  min-width: 60px;
}
.resume8-box1 {
  background-color: white;
  border-radius: 30px 30px 30px 30px;
}
.resume8-box1.layout {
  position: relative;
  height: 60px;
  width: 60px;
  min-width: 60px;
}
.resume8-flex2 {
  display: flex;
  flex-direction: column;
}
.resume8-flex2.layout {
  position: relative;
  width: 108px;
  min-width: 108px;
  margin: 8px 0px 0px;
}
.resume8-subtitle {
  font: 700 20px/1.25 "IBM Plex Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.1px;
}
.resume8-subtitle.layout {
  position: relative;
}
.resume8-small-text-body {
  font: 10px/1 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.6000000119px;
  opacity: 0.6;
}
.resume8-small-text-body.layout {
  position: relative;
  margin: 4px 36px 0px 0px;
}
.resume8-flex3 {
  display: flex;
  flex-direction: column;
}
.resume8-flex3.layout {
  position: relative;
  margin: 30px 0px 0px;
}
.resume8-text-body1 {
  font: 700 13px/1.15 "IBM Plex Sans", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.200000003px;
}
.resume8-text-body1.layout {
  position: relative;
}
.resume8-small-paragraph-body1-box {
  opacity: 0.6;
}
.resume8-small-paragraph-body1-box.layout {
  position: relative;
  margin: 10px 0px 0px;
}
.resume8-small-paragraph-body1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  white-space: pre-wrap;
}
.resume8-flex4 {
  display: flex;
  flex-direction: column;
}
.resume8-flex4.layout {
  position: relative;
  margin: 30px 0px 0px;
}
.resume8-flex5 {
  display: flex;
  flex-direction: column;
}
.resume8-flex5.layout {
  position: relative;
  margin: 10px 0px 0px;
}
.resume8-flex6 {
  display: flex;
  flex-direction: column;
}
.resume8-flex6.layout {
  position: relative;
}
.resume8-small-paragraph-body11 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body11.layout {
  position: relative;
}
.resume8-cover-block {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-cover-block.layout {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-box3 {
  background-color: white;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-box3.layout {
  position: relative;
  height: 5px;
  margin: 0px 10px 0px 0px;
}
.resume8-flex7 {
  display: flex;
  flex-direction: column;
}
.resume8-flex7.layout {
  position: relative;
  margin: 7px 0px 0px;
}
.resume8-small-paragraph-body12 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body12.layout {
  position: relative;
}
.resume8-cover-block1 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-cover-block1.layout {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-box4 {
  background-color: white;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-box4.layout {
  position: relative;
  height: 5px;
  margin: 0px 20px 0px 0px;
}
.resume8-flex8 {
  display: flex;
  flex-direction: column;
}
.resume8-flex8.layout {
  position: relative;
  margin: 7px 0px 0px;
}
.resume8-small-paragraph-body13 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body13.layout {
  position: relative;
}
.resume8-cover-block2 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-cover-block2.layout {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-box5 {
  background-color: white;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-box5.layout {
  position: relative;
  height: 5px;
  margin: 0px 15px 0px 0px;
}
.resume8-flex9 {
  display: flex;
  flex-direction: column;
}
.resume8-flex9.layout {
  position: relative;
  margin: 7px 0px 0px;
}
.resume8-small-paragraph-body14 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body14.layout {
  position: relative;
}
.resume8-cover-block3 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-cover-block3.layout {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-box6 {
  background-color: white;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-box6.layout {
  position: relative;
  height: 5px;
  margin: 0px 25px 0px 0px;
}
.resume8-flex10 {
  display: flex;
  flex-direction: column;
}
.resume8-flex10.layout {
  position: relative;
  margin: 7px 0px 0px;
}
.resume8-small-paragraph-body15 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body15.layout {
  position: relative;
}
.resume8-flex11 {
  display: flex;
  flex-direction: column;
}
.resume8-flex11.layout {
  position: relative;
  margin: 7px 0px 0px;
}
.resume8-small-paragraph-body16 {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body16.layout {
  position: relative;
}
.resume8-cover-block5 {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.101);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-cover-block5.layout {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-box7 {
  background-color: white;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
}
.resume8-box7.layout {
  position: relative;
  height: 5px;
  width: 125px;
  min-width: 125px;
}
.resume8-flex-spacer {
  flex: 0 1 25px;
}
.resume8-flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 290px;
}
.resume8-flex12 {
  display: flex;
  flex-direction: column;
}
.resume8-flex12.layout {
  position: relative;
  flex-grow: 1;
  margin: 40px 0px 131px;
}
.resume8-flex13 {
  display: flex;
  flex-direction: column;
}
.resume8-flex13.layout {
  position: relative;
}
.resume8-text-body {
  font: 700 13px/1.15 "IBM Plex Sans", Helvetica, Arial, serif;
  color: #212121;
  letter-spacing: 0.200000003px;
}
.resume8-text-body.layout {
  position: relative;
}
.resume8-small-paragraph-body {
  font: 11px/1.72 "Hind", Helvetica, Arial, serif;
  color: #212121;
  letter-spacing: -0.200000003px;
  opacity: 0.6;
}
.resume8-small-paragraph-body.layout {
  position: relative;
  margin: 10px 0px 0px;
}
.resume8-flex14 {
  display: flex;
  flex-direction: column;
}
.resume8-flex14.layout {
  position: relative;
  margin: 30px 0px 0px;
}
.resume8-flex15 {
  display: flex;
  flex-direction: column;
}
.resume8-flex15.layout {
  position: relative;
  margin: 17px 0px 0px;
}
.resume8-flex16 {
  display: flex;
  flex-direction: column;
}
.resume8-flex16.layout {
  position: relative;
}
.resume8-flex.layout {
  position: relative;
}
.resume8-small-text-body1 {
  font: 500 11px/1.63 "IBM Plex Sans", Helvetica, Arial, serif;
  color: #212121;
  letter-spacing: 0px;
}
.resume8-small-text-body1.layout {
  position: relative;
  flex: 0 0 auto;
}
.resume8-flex-spacer1 {
  flex: 0 1 134px;
}
.resume8-small-text-body2 {
  display: flex;
  justify-content: flex-end;
  font: 10px/1.8 "Hind", Helvetica, Arial, serif;
  color: #212121;
  text-align: right;
  letter-spacing: 0px;
  opacity: 0.5;
}
.resume8-small-text-body2.layout {
  position: relative;
  flex: 0 0 auto;
}
.resume8-small-paragraph-body.layout1 {
  position: relative;
  margin: 4px 0px 0px;
}
.resume8-flex17 {
  display: flex;
  flex-direction: column;
}
.resume8-flex17.layout {
  position: relative;
  margin: 17px 0px 0px;
}
.resume8-flex-spacer2 {
  flex: 0 1 122px;
}
.resume8-small-paragraph-body.layout2 {
  position: relative;
  margin: 4px 0px 0px;
}
.resume8-flex18 {
  display: flex;
  flex-direction: column;
}
.resume8-flex18.layout {
  position: relative;
  margin: 30px 0px 0px;
}
.resume8-flex19 {
  display: flex;
  flex-direction: column;
}
.resume8-flex19.layout {
  position: relative;
  margin: 15px 0px 0px;
}
.resume8-flex20 {
  display: flex;
  flex-direction: column;
}
.resume8-flex20.layout {
  position: relative;
}
.resume8-flex-spacer3 {
  flex: 0 1 86px;
}
.resume8-small-paragraph-body.layout3 {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-flex21 {
  display: flex;
  flex-direction: column;
}
.resume8-flex21.layout {
  position: relative;
  margin: 15px 0px 0px;
}
.resume8-flex-spacer4 {
  flex: 0 1 93px;
}
.resume8-small-paragraph-body.layout4 {
  position: relative;
  margin: 6px 0px 0px;
}
.resume8-flex22 {
  display: flex;
  flex-direction: column;
}
.resume8-flex22.layout {
  position: relative;
  margin: 15px 0px 0px;
}
.resume8-flex-spacer5 {
  flex: 0 1 105px;
}
.resume8-small-paragraph-body.layout5 {
  position: relative;
  margin: 6px 0px 0px;
}