<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <style>
  {{{css}}}
  </style>
  
  </head>
  <body>
  
  <div id="resume" style="display: flex; flex-direction: column;">


    <div class="resume9 resume9-block layout">
      <div class="resume9-flex layout20">

        <div class="resume9-cover-block7 layout">
          <div class="resume9-flex layout">
            <div style="--src:url(/assets/5f6ba675913a4dc870e49eebb462787e.png)" class="resume9-block1 layout">
              <div class="resume9-box1 layout"></div>
            </div>
            <h2 class="resume9-medium-title layout">{{resume.basics.name}}</h2>
            <div class="resume9-small-text-body layout">{{resume.basics.label}}</div>
          </div>
        </div>
        
        <div class="resume9-flex layout19">
          <div class="resume9-flex1 layout" style="border: 1px solid green; justify-content: space-between;">
            <div class="resume9-flex-item">
              <div class="resume9-flex layout1">
                <div class="resume9-text-body layout">Profile</div>
                <div class="resume9-small-text-body3 layout">
                  Graphic designer with +8 years of experience in branding and print design. Skilled at Adobe Creative
                  Suite (Photoshop, Illustrator, InDesign) as well as sketching and hand drawing. Supervised 23 print
                  design projects that resulted in an increase of 32% in savings.
                </div>
              </div>
            </div>
            <div class="resume9-flex-spacer"></div>
            <div class="resume9-flex-item1">
              <div class="resume9-flex layout3">
                <div class="resume9-text-body layout">Contacts</div>
                <div class="resume9-flex layout2">

                  <div class="resume9-flex2 layout">
                    <div class="resume9-flex-item2">
                      <div class="resume9-block2 layout"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                      </div>
                    </div>
                    <div class="resume9-flex-spacer1" style="margin-left: 10px;"></div>
                    <div class="resume9-small-text-body3 layout1">2207 Beach Avenue, Los Angeles</div>
                  </div>

                  <div class="resume9-flex3 layout">
                    <div class="resume9-flex-item3">
                      <div class="resume9-image1 layout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                        </svg>
                      </div>
                    </div>
                    <div class="resume9-flex-spacer1" style="margin-left: 10px;"></div>
                    <div class="resume9-small-text-body3 layout2">hibolton@got.com</div>
                  </div>

                  <div class="resume9-flex4 layout">
                    <div class="resume9-flex-item4">
                      <div class="resume9-block3 layout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                          <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                          <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    </div>
                    <div class="resume9-flex-spacer1" style="margin-left: 10px;"></div>
                    <div class="resume9-small-text-body3 layout3">(914) 479-6342</div>
                  </div>

                 

                </div>
              </div>
            </div>
          </div>

          <div class="resume9-flex layout5">
            <div class="resume9-text-body layout">Education</div>
            <div class="resume9-flex6 layout" style="border: 1px solid green; justify-content: space-between;">
              <div class="resume9-small-text-body2 layout">Sep 2007 – Aug 2012</div>
              <div class="resume9-flex-spacer5"></div>
              <div class="resume9-flex-item6">
                <div class="resume9-flex layout4">
                  <div class="resume9-flex7 layout">
                    <div class="resume9-small-text-body1 layout">New York University</div>
                    <div class="resume9-flex-spacer6"></div>
                    <div class="resume9-small-text-body21 layout">New York</div>
                  </div>
                  <div class="resume9-small-text-body3 layout5">Master of Graphic Design, GPA: 3.8/4.0</div>
                </div>
              </div>
            </div>
          </div>

          <div class="resume9-flex layout9">
            <div class="resume9-text-body layout">Employment</div>
            <div class="resume9-flex layout8" >
              <div class="resume9-flex8 layout" style="border: 1px solid green; justify-content: space-between;">
                <div class="resume9-small-text-body2 layout1">Dec 2012 – Jan 2016</div>
                <div class="resume9-flex-spacer7"></div>
                <div class="resume9-flex-item7">
                  <div class="resume9-flex layout6">
                    <div class="resume9-flex9 layout">
                      <div class="resume9-small-text-body1 layout1">UI Designer at Market Studios</div>
                      <div class="resume9-flex-spacer8"></div>
                      <div class="resume9-small-text-body22 layout">New York</div>
                    </div>
                    <div class="resume9-small-text-body3 layout6">
                      Successfully translated subject matter into concrete design for newsletters, promotional materials
                      and sales collateral. Created design theme and graphics for marketing.
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="resume9-flex10 layout">
                <div class="resume9-small-text-body2 layout2">Feb 2016 – Apr 2019</div>
                <div class="resume9-flex-spacer9"></div>
                <div class="resume9-flex-item8">
                  <div class="resume9-flex layout7">
                    <div class="resume9-flex11 layout">
                      <div class="resume9-small-text-body1 layout2">Graphic Designer at FireWeb</div>
                      <div class="resume9-flex-spacer10"></div>
                      <div class="resume9-small-text-body23 layout">New York</div>
                    </div>
                    <div class="resume9-small-text-body3 layout7">
                      Developed numerous marketing programs (logos, brochures, newsletters, infographics, presentations)
                      and guaranteed that they exceeded the expectations of our clients.
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

          <div class="resume9-flex layout18">
            <div class="resume9-text-body layout">Skills</div>
            <div class="resume9-flex12 layout" style="border: 1px solid green; justify-content: space-between;">
              <div class="resume9-flex-item9">
                <div class="resume9-flex layout13">
                  <div class="resume9-flex layout10">
                    <div class="resume9-flex13 layout">
                      {{!-- <div class="resume9-small-text-body1 layout3">Figma</div>
                      <div class="resume9-flex-spacer11"></div>
                      <div class="resume9-small-text-body24 layout">Expert</div> --}}
                      {{> skills }}
                    </div>
                  </div>
                 
                </div>
              </div>
             

              
            </div>
          </div>
        </div>
      </div>
    </div>


    <style>
    
      #myProgress {
      width: 100%;
        background-color: #ddd;
      }

      #myBar {
       
        height: 5px;
        background-color: #0e0e0e;
      }

    </style>
    
  </body>
</html>

