<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <style>
  {{{css}}}
  </style>
  
  </head>
  <body style="display: flex; flex-direction: column;">


    <div class="resume1 resume1-block layout" style="margin-left: auto;margin-right: auto;">
      <div class="resume1-flex layout4">
        <div class="resume1-flex1 layout">
          <div class="resume1-text-body layout">Summary</div>
          <div class="resume1-flex-spacer"></div>
          <div class="resume1-flex-item">
            <div class="resume1-flex layout">
              <h2 class="resume1-medium-title layout">Fred Lynch</h2>
              <div class="resume1-small-text-body layout">Web-Designer</div>
            </div>
          </div>
        </div>
        <div class="resume1-flex2 layout">
          <div class="resume1-text-body layout1">Contacts</div>
          <div class="resume1-flex-spacer1"></div>
          <div class="resume1-flex-item1">
            <div class="resume1-flex layout">
              <div class="resume1-group layout">
                <div class="resume1-small-text-body1 layout">2207 Beach Avenue, Los Angeles</div>
                <div class="resume1-box layout"></div>
              </div>
              <div class="resume1-group layout1">
                <div class="resume1-small-text-body11 layout">fredlynch@mail.me</div>
                <div class="resume1-box layout"></div>
              </div>
              <div class="resume1-group layout2">
                <div class="resume1-small-text-body12 layout">(914) 479-6342</div>
                <div class="resume1-box layout"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume1-flex3 layout">
          <div class="resume1-text-body layout2">Profile</div>
          <div class="resume1-flex-spacer2"></div>
          <div class="resume1-flex-item2">
            <div class="resume1-small-text-body13 layout">
              Graphic designer with +8 years of experience in branding and print design. Skilled at Adobe Creative Suite
              (Photoshop, Illustrator, InDesign) as well as sketching and hand drawing. Supervised 23 print design
              projects that resulted in an increase of 32% in savings.
            </div>
          </div>
        </div>
        <div class="resume1-flex4 layout">
          <div class="resume1-text-body layout">Education</div>
          <div class="resume1-flex-spacer3"></div>
          <div class="resume1-flex-item3">
            <div class="resume1-flex layout">
              <div class="resume1-flex5 layout">
                <div class="resume1-small-text-body2 layout">2005 – 2007 — Los Angeles University</div>
                <div class="resume1-small-text-body3 layout">Los Angeles</div>
              </div>
              <div class="resume1-small-text-body14 layout">Master of Graphic Design</div>
            </div>
          </div>
        </div>
        <div class="resume1-flex6 layout">
          <div class="resume1-text-body layout3">Employment</div>
          <div class="resume1-flex-spacer4"></div>
          <div class="resume1-flex-item4">
            <div class="resume1-flex layout">
              <div class="resume1-flex layout1">
                <div class="resume1-flex7 layout">
                  <div class="resume1-small-text-body2 layout">2005 – 2007 — UI Designer at Market Studios</div>
                  <div class="resume1-small-text-body4 layout">New York</div>
                </div>
                <div class="resume1-small-text-body15 layout">
                  Successfully translated subject matter into concrete design for newsletters, promotional materials and
                  sales collateral. Created design theme and graphics for marketing and sales presentations, training
                  videos and corporate websites.
                </div>
              </div>
              <div class="resume1-flex layout2">
                <div class="resume1-flex8 layout">
                  <div class="resume1-small-text-body2 layout">2007 – 2009 — Graphic Designer at FireWeb</div>
                  <div class="resume1-flex-spacer5"></div>
                  <div class="resume1-small-text-body5 layout">Los Angeles</div>
                </div>
                <div class="resume1-small-text-body16 layout">
                  Created new design themes for marketing and collateral materials. Collaborated with creative team to
                  design and produce computer-generated artwork for marketing and promotional materials.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume1-flex9 layout">
          <div class="resume1-text-body layout4">Soft skills</div>
          <div class="resume1-flex-spacer6"></div>
          <div class="resume1-flex-item5">
            <div class="resume1-flex10 layout">
              <div class="resume1-flex-item6">
                <div class="resume1-flex layout">
                  <div class="resume1-group layout3">
                    <div class="resume1-small-text-body17 layout">Communication</div>
                    <div class="resume1-box layout1"></div>
                  </div>
                  <div class="resume1-group layout4">
                    <div class="resume1-small-text-body18 layout">Time management</div>
                    <div class="resume1-box layout2"></div>
                  </div>
                  <div class="resume1-group layout5">
                    <div class="resume1-small-text-body19 layout">Teamwork</div>
                    <div class="resume1-box layout3"></div>
                  </div>
                  <div class="resume1-group layout6">
                    <div class="resume1-small-text-body110 layout">Creativity</div>
                    <div class="resume1-box layout4"></div>
                  </div>
                </div>
              </div>
              <div class="resume1-flex-spacer7"></div>
              <div class="resume1-flex-item7">
                <div class="resume1-flex layout3">
                  <div class="resume1-group layout">
                    <div class="resume1-small-text-body111 layout">Attention to details</div>
                    <div class="resume1-box layout5"></div>
                  </div>
                  <div class="resume1-group layout7">
                    <div class="resume1-small-text-body112 layout">Desire to learn</div>
                    <div class="resume1-box layout6"></div>
                  </div>
                  <div class="resume1-group layout8">
                    <div class="resume1-small-text-body113 layout">Meeting deadlines</div>
                    <div class="resume1-box layout7"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="resume1-flex11 layout">
          <div class="resume1-text-body layout5">Technical skills</div>
          <div class="resume1-flex-spacer8"></div>
          <div class="resume1-flex-item8">
            <div class="resume1-flex12 layout">
              <div class="resume1-flex-item9">
                <div class="resume1-flex layout">
                  <div class="resume1-group layout">
                    <div class="resume1-small-text-body114 layout">Figma</div>
                    <div class="resume1-box layout8"></div>
                  </div>
                  <div class="resume1-group layout9">
                    <div class="resume1-small-text-body115 layout">Sketch</div>
                    <div class="resume1-box layout9"></div>
                  </div>
                  <div class="resume1-group layout10">
                    <div class="resume1-small-text-body116 layout">Adobe Photoshop</div>
                    <div class="resume1-box layout10"></div>
                  </div>
                  <div class="resume1-group layout11">
                    <div class="resume1-small-text-body117 layout">Adobe Illustrator</div>
                    <div class="resume1-box layout11"></div>
                  </div>
                </div>
              </div>
              <div class="resume1-flex-spacer9"></div>
              <div class="resume1-flex-item10">
                <div class="resume1-flex layout">
                  <div class="resume1-group layout">
                    <div class="resume1-small-text-body118 layout">Web Design (HTML/CSS)</div>
                    <div class="resume1-box layout12"></div>
                  </div>
                  <div class="resume1-group layout12">
                    <div class="resume1-small-text-body119 layout">Premiere Pro</div>
                    <div class="resume1-box layout13"></div>
                  </div>
                  <div class="resume1-group layout13">
                    <div class="resume1-small-text-body120 layout">After Effects</div>
                    <div class="resume1-box layout14"></div>
                  </div>
                  <div class="resume1-group layout14">
                    <div class="resume1-small-text-body121 layout">Photography</div>
                    <div class="resume1-box layout15"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </body>
</html>

